overlay{
    background-color: rgba(53,53,53, 0.726);
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container-light{
    border: 5px solid;
    border-color: black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    background-color: aliceblue;
    display: flex;
}
.container-dark{
    border: 5px solid gold;
    border-color: light;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    background-color: black;
    color:gold;
    display: flex;
}
h3{
    margin-right: 300px;
}
.btn{
    margin-top: 3%;
    margin-right: 10px;
}
h1{
    text-align: center;
}
.img{
    width: 100px;
    height: 100px;
}

.container2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}